{
  "presets": ["es2015-node", "stage-1", "react", "flow"],
  "plugins": [
    "transform-runtime",
    "meteor-imports"
  ],
  "env": {
    "coverage": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "build/meteor/**/*.js",
            "test/**/*.js"
          ]
        }]
      ]
    }
  }
}