{
  "parser": "babel-eslint",
  "plugins": [
    "react", "babel"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "no-extra-semi": "error",
    "semi": ["error", "never"]
  }
}