language: node_js
node_js:
  - "4"
  - "5"
  - "6"
sudo: required
services:
  - docker
env:
  DOCKER_COMPOSE_VERSION: 1.8.0
  CXX: g++-4.8
  DEBUG: crater-util:kill,crater-util:kill:ps,crater:shutdown
  DUMP_HTTP: 1

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      - libgnome-keyring-dev

cache:
  directories:
    - node_modules

before_install:
  - npm config set progress false
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin
  - curl https://install.meteor.com/ | sh
  - docker run -p 27017:27017 --detach mongo:3.2.8

script:
  - npm install popsicle
  - npm run lint
  - npm run flow
  - npm run test:hot-reloading
  - npm run coverage
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
