{
  "presets": ["es2015", "stage-1", "react", "flow"],
  "plugins": [
    ["transform-runtime", {"polyfill": false, "helpers": false}],
    "meteor-imports",
    ["module-resolver", {
      "root": ["./build/meteor/bundle/programs/server/npm/node_modules"],
      "alias": {
        "fibers": "./build/meteor/bundle/programs/server/node_modules/fibers"
      }
    }]
  ],
  "env": {
    "coverage": {
      "plugins": ["istanbul"]
    }
  }
}

